# Keep release zips (git archive / GitHub downloads) to the plugin runtime only.
/.git* export-ignore
/.github export-ignore
/.phpcs.xml.dist export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpunit.xml.dist export-ignore
/playwright.config.js export-ignore
/tests export-ignore
/tools export-ignore
/docs export-ignore
